#theAboutPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/homebanner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 80px 80px;
}
#theAboutPage h2 {
  color: #cb822f;
  font-weight: 700;
}
#theAboutPageBox {
  position: relative;
  top: -50px;
  background-color: #edeaea;
  padding-top: 10px;
}
#aboutCard h4 {
  text-align: center;
  color: #cb822f;
  font-weight: 700;
}
#ourTeam {
  margin-top: 20px;
}
#ourTeam h4 {
  text-align: center;
  color: #cb822f;
  font-weight: 700;
  margin-bottom: 20px;
}
#aboutTeamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  border: 1px solid #8080803c;
  border-radius: 4px;
}
#aboutTeamCard:hover {
  background-color: #ffffff50;
}
#aboutTeamCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#aboutTeamCard p {
  margin-top: 5px;
  font-weight: 600;
}
#faqBox {
  margin-top: 20px;
}
#faqBox h4 {
  text-align: center;
  color: #cb822f;
  font-weight: 700;
  margin-bottom: 20px;
}
.accordion-header {
  background-color: #ffffff50;
}
#aboutRecords {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: linear-gradient(to right, #cb822f64, #3d73a089);
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutRecordsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #faebd752;
  padding: 20px 0px;
  margin-top: 10px;
}
#aboutRecordsCard h4 {
  background: -webkit-linear-gradient(0deg, #3d74a0, #2e2b27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
#aboutRecordsCard h5 {
  font-weight: 700;
  color: #4a4946;
}
#reviews {
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#reviews h4 {
  text-align: center;
  font-weight: 700;
  color: #cb822f;
}
#reviewCard {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(to right, #cb822f64, #3d73a089);
  border-radius: 20px;
}
#reviewCard img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
#reviewCard p {
  max-width: 550px;
  line-height: 1.8rem;
  margin-top: 10px;
}
#reviewCard p i {
  color: #cb822f;
  font-size: 20px;
}
