#reviewCard {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.5)),
    url("../../assets/homebanner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
#reviewCard01 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.5)),
    url("../../assets/homebanner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
#reviewCard02 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.5)),
    url("../../assets/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
#reviewCard03 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.5)),
    url("../../assets/homebanner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
#reviewCardInner {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#reviewCardInner h1 {
  color: #cb822f;
  font-weight: 700;
  text-align: start;
  font-family: "Playfair Display", serif;
}
#reviewCardInner h3 {
  color: antiquewhite;
}
#reviewCardInner p {
  color: antiquewhite;
}
#reviewCardInner button {
  margin-top: 20px;
  padding: 12px 40px;
  border: none;
  background-color: #faebd727;
  color: #d29968;
  border-radius: 0px;
  border: 2px solid antiquewhite;
}

#visionBox h2 {
  text-align: center;
  color: #cb822f;
  font-weight: 700;
  margin-top: 20px;
}
#visionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  background-color: #d29a681d;
  padding: 10px;
  border-radius: 4px;
  height: 300px;
  border: 1px solid #c2c1c162;
}
#visionCard img {
  width: 100px;
  height: inherit;
  object-fit: contain;
  color: #cb822f;
}
#visionCard:hover {
  background-color: white;
}
#visionCard i {
  color: #cb822f;
  text-align: center;
  font-size: 30px;
}
#visionCard h5 {
  color: #cb822f;
  margin: 10px;
  font-weight: 600;
}
#visionCard a {
  text-decoration: none;
  color: #cb822f;
  font-weight: 600;
}
#visionCard a:hover {
  text-decoration: underline;
}
#workList {
  margin-top: 20px;
  /* background-image: linear-gradient(to right, #cb822f64, #3d73a089); */
  padding-top: 20px;
  padding-bottom: 20px;
}
#workList h2 {
  text-align: center;
  background: -webkit-linear-gradient(0deg, #3d74a0, #d29968);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin-bottom: 20px;
}
#workListBoxCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #80808050;
  border-radius: 4px;
  background-color: #faebd759;
  margin-top: 10px;
  cursor: pointer;
}
#workListBoxCard:hover {
  box-shadow: 2px 2px 10px antiquewhite;
}
#workListBoxCard h5 {
  font-weight: 600;
  color: antiquewhite;
  background-color: #cb822f;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
#workListBoxCard ul li {
  line-height: 1.8rem;
  list-style: none;
  color: #3d74a0;
}
#ourVisionWrap {
  margin-top: 20px;
}
#ourVisionCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
}
#ourVisionCard h2 {
  text-align: center;
  color: #cb822f;
  font-weight: 700;
}
#ourVisionCard h4 {
  text-align: start;
  color: #3d74a0;
  font-weight: 300;
  line-height: 2.8rem;
}
#ourVisionCard p {
  text-align: start;
  color: gray;
}
#ourVisionCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(60%);
  border-radius: 4px;
}
#getInTouch {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #f5f5f565;
}
#getIntouchForm h2 {
  text-align: center;
  color: #cb822f;
  font-weight: 700;
}
#getIntouchForm label {
  color: #3d74a0;
}
#getIntouchForm input {
  border: 1px solid #3d74a0;
}
#getIntouchForm textarea {
  border: 1px solid #3d74a0;
  height: 120px;
}
#getIntouchForm button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #cb822f;
  color: white;
}
#getIntouchFormBox {
  background-image: linear-gradient(to bottom, #3d73a0ed, #cb822f6b);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 4px;
}
#getIntouchFormBoxCard {
  display: flex;
  align-items: center;
  justify-content: start;
}
#getIntouchFormBoxCard i {
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 50%;
  padding: 5px;
  font-size: 18px;

  margin-right: 20px;
}
#getIntouchFormBoxCard p {
  color: antiquewhite;
}
